* {
    margin: 0;
    padding: 0; 
}

html{
    min-height: 100vh;
}
body{
    font-family: sans-serif;
    background: linear-gradient(135deg, #202044 10%, #764ba2 100%);
    padding: 32px 16px;
}

.container {
    max-width: 1000px;
    margin: auto;
}


.search-area {  
    gap: 8px;
    margin-bottom: 32px;
}

.search-input {
    width: calc(100% - 200px);
    padding: 16px 24px;
    border-radius: 50px;
    border: none;
    background: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    color: #333;
    outline: none;
    transition: all 1.5s ease;
}

.search-input:focus {
    background: rgb(183, 177, 177);
}

.search-btn {
    padding: 16px 32px;
    border-radius: 50px;
    border: none;
    background: rgba(255, 255, 255, 0.9);
    color: #202044;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-btn:hover {
    background: rgb(183, 177, 177);
    transform: translateY(-2px);
}

/* Error Message */
.error-msg {
    padding: 16px;
    background: brown;
    color: white;
    border-radius: 16px;
    margin-bottom: 16px;
    text-align: center;
}

/* Loading */
.loading {
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 48px;
}

/* Hidden utility */
.hidden {
    display: none ;
}

/* Main Weather Card */
.weather-box {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 32px;
    padding: 32px;
    color: white;
    margin-bottom: 24px;
}

.location-date {
    text-align: center;
    margin-bottom: 32px;
}

.location-date h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
}

.location-date p {
    font-size: 20px;
    opacity: 0.9;
}

.weather-main {
    align-items: center;
    justify-content: space-around;
    gap: 32px;   
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.weather-icon-section {
    text-align: center;
    
}

.weather-icon {
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
}

.weather-icon img {
    width: 100px;
    height: 100px;
}

.weather-description {
    font-size: 24px;
    text-transform: capitalize;
}

.temperature-section {
    text-align: center;

}

.temperature {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 8px;
}

.feels-like {
    font-size: 20px;
    opacity: 0.9;
}

/* Details Grid */
.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.detail-box {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 24px;
    padding: 24px;
    color: white;
    text-align: center;
}

.detail-icon {
    width: 32px;
    height: 32px;
    opacity: 0.8;
    margin-bottom: 12;
}

.detail-label {
    font-size: 20px;
    opacity: 0.8;
    margin-bottom: 4px;
}

.detail-value {
    font-size: 24px;
    font-weight: 700;
}

.detail-sub {
    font-size: 16px;
    opacity: 0.8;
    margin-top: 4px;
}


@media (min-width: 768px) {
    body {
        padding: 50px;
    }
    .details {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
